@import url(./style/font/Montserrat.css);

#root{
  display:flex;
  flex-direction: column; 
  height: 100%;
}

/* обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgba(7, 14, 77, 0.8);
 }
 
 a:hover {
    text-decoration: underline;
 }

 ul,
 ol,
 li {
    list-style: none;
 }
 
 img {
    vertical-align: top;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-weight: inherit;
    font-size: inherit;
 }
 
 html,
 body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
 }
 
 body {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 14, 77, 0.8);
 }